/*default classes*/

.card-container {
    width: 320px;
    height: 525px;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.card-container__card {
    width: 312px;
    height: 472px;
    background-color: #fff;
    overflow: hidden;
    border-radius: 40px 10px 10px 10px;
    border: 4px solid #1698d9;
    position: relative;
    clip-path: polygon(13% 0%, 100% 0, 100% 100%, 0 100%, 0% 8.7%);
    cursor: pointer;
}

.card-container__card:hover {
    border: 4px solid #2ea8e6;
}

.card-container:before {
    content: "";
    width: 60px;
    height: 60px;
    top: 12px;
    left: 12px;
    background: transparent;
    position: absolute;
    transform: rotate(-135deg);
    border-right: 4px solid #1698d9;
    z-index: 1;
}

.card-container:hover:before {
    border-right: 4px solid #2ea8e6;
}

.card-container__slogan {
    font-size: 16px;
    margin-bottom: 9px;
    color: #666666;
}

.card-container__title {
    font-size: 48px;
    font-weight: bold;
    line-height: 50px;
}
.card-container__desc {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 13px;
}

.card-container__bonus {
    font-size: 14px;
    color: #666666;
}

.card-container__image {
    width: 370px;
    height: 361px;
    position: absolute;
    bottom:-93px;
    right: -29px;
    user-select: none;
}

.card-container__circle {
    width: 80px;
    height: 80px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 50px;
    position: absolute;
    bottom: 10px;
    right: 10px;
    background-color: #1698d9;
    user-select: none;
}

.card-container__card:hover .card-container__circle {
    background-color: #2ea8e6;
}
.card-container__card:hover .card-container__link {
    color: #2ea8e6;
}

.card-container__link:hover .card-container__link-dot {
    color: #2ea8e6;
}

.card-container__card-status {
    margin-top: 14px;
    font-size: 13px;
    font-family: "Trebuchet MS";
    text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.004);
    color: white;
}

.card-container__link {
    padding: 0;
    margin: 0;
    background-color: transparent;
    border: none;
    color: #1698d9;
    text-decoration: none;
    font-weight: bold;
    border-bottom: 1px dashed currentColor;
    cursor: pointer;
}

.card-container__link-dot {
    color : #1698d9;
}

.card-container__link:hover {
    color: #2ea8e6;
}

/*active classes*/

.card-active {
    border: 4px solid #d91667;
}

.card-container__slogan.not-approve {
    color: #e62e7a;
}

.card-active:hover {
    border: 4px solid #e62e7a;
}

.card-container.card-container-active:before {
    content: "";
    width: 60px;
    height: 60px;
    top: 12px;
    left: 12px;
    position: absolute;
    transform: rotate(-135deg);
    border-right: 4px solid #d91667;
    z-index: 1;
}

.card-container.card-container-active:hover:before {
    border-right: 4px solid #e62e7a;
}

.card-container__circle.circle-active {
    background-color: #d91667;
}

.card-container__circle.circle-active:hover {
    background-color: #e62e7a;
}

.card-container__card:hover .circle-active {
    background-color: #e62e7a;
}

/*inactive classes*/

.card-inactive {
    border: 4px solid #b3b3b3;
}

.card-inactive:hover {
    border: 4px solid #b3b3b3;
}

.card-container-inactive:before {
    content: "";
    width: 60px;
    height: 60px;
    top: 12px;
    left: 12px;
    position: absolute;
    transform: rotate(-135deg);
    border-right: 4px solid #b3b3b3;
    z-index: 1;
}
.card-container-inactive:hover:before {
    border-right: 4px solid #b3b3b3;
}

.card-container__card:hover .circle-inactive {
    background-color: #b3b3b3;
}

.text-inactive {
    color: #d4d4d4;
}

.card-container__slogan.text-inactive {
    color: #d4d4d4;
}

.card-container__bonus.text-inactive {
    color: #d4d4d4;
}

.image-inactive {
    opacity: 0.5;
}

.card-container__circle.circle-inactive {
    background-color: #b3b3b3;
}

.card-container__circle.circle-inactive:hover {
    background-color: #b3b3b3;
}

.card-container__card-status.status-inactive {
    color : #ffff66;
}

/*permanent classes*/

.card-container__text-wrapper {
    padding: 0;
    margin-left: 44px;
    margin-top: 17px;
    font-family: "Trebuchet MS";
}

.card-container__circle-text {
    font-family: "Trebuchet MS";
    color: white;

}

.card-container__circle-text.big {
    font-size: 42px;
    line-height: 43px;
}

.card-container__circle-text.small {
    font-size: 21px;
    line-height: 15px;
}