* {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
    width: 100%;
}

body {
    height: 100%;
    width: 100%;
}

#root {
    height: 100%;
}

@media (min-height: 1024px) and (min-height: 1366px) {
    html {
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
    }
}

